.header {
    font-family: "GmarketSans";
    padding: 0 5%;
    width: 100%;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: all .3s;

    color: #fff;
    .header-inwrapper {
        position: absolute;
        backdrop-filter: blur(5px) brightness(60%);
        -webkit-backdrop-filter: blur(5px) brightness(60%);

        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;

        font-size: 10px;

        .header_content {
            width: fit-content;
            margin: auto;

            .logo {
                color: #fff;
                text-align: center;
                font-size: 10em;
                line-height: 120px;
                font-weight: bolder;
            }

            // 기관 리스트
            .organ_changer {
                width: 100%;
                height: 50px;
                overflow: hidden;
                display: flex;
                justify-content: space-between;

                span {
                    position: relative;
                    z-index: 1;
                    font-size: 3.5em;
                    font-weight: bold;
                    line-height: 50px;
                    // background-color: #fff;
                    padding: 0 5px;
                }

                .organ-list {
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    float: right;
                    right: 0;
                    text-align: right;
                    line-height: 50px;
                    overflow: hidden;

                    .list-wrapper {
                        position: relative;
                        transition: all 0.5s;

                        .organ {
                            display: block;
                            font-weight: bold;
                            // background-color: #fff;
                            margin: 0;
                            padding: 0 5px;
                            line-height: 50px;
                            font-size: 3.5em;
                        }
                    }
                }

                .line {
                    position: relative;
                    // left: 46.5%;
                    // transform: translateX(-50%);
                    z-index: 0;
                    display: inline-block;
                    background-color: #fff;
                    margin-bottom: 8px;
                    top: 50%;
                    width: 260px;
                    height: 4px;
                }
            }
        }

        // 프로젝트 설명
        .project_info {
            display: flex;
            justify-content: space-between;
            line-height: 80px;

            .info-num {
                font-size: 2.5em;
                font-weight: bolder;
            }

            .info-text {
                text-align: right;
                font-weight: 500;
                font-size: 1.16em;
                line-height: 15px;
                width: 420px;
                padding: 15px 0;
            }
        }

        .line {
            z-index: 0;
            background-color: #fff;
            margin: 0;
            width: 100%;
            height: 2px;
        }

        .total {
            text-align: center;
            font-size: 3em;
            line-height: 50px;
            margin-top: 20px;
            font-weight: lighter;
            strong {
                font-weight: bold;
            }
        }

        .down{
            font-size: 4em;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            bottom: 20px;

            -webkit-animation: .8s ease-in-out 0s infinite alternate scroll_down;
            animation: .8s ease-in-out 0s infinite alternate scroll_down;
        }
        @-webkit-keyframes scroll_down { from { bottom: 5px; } to { bottom: 20px; }  }
        @keyframes scroll_down { from { bottom: 5px; } to { bottom: 20px; }  }

    }
}

@media screen and (max-width: 700px) {
    .header-inwrapper {
        font-size: 4.5px !important;

        .header_content {
            .logo {
                line-height: 50px !important;
            }
            
            .organ_changer {
                .line {
                    width: 100px !important;
                    height: 2px !important;
                }
            }

            .project_info{
                .info-text{
                    width: 200px;
                    font-size: 2em !important;
                    font-weight: lighter;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .header-inwrapper {
        font-size: 10px !important;
    }
}
